@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@
<h3>Please contact us if you have any queries</h3>
<hr />


<address>
    <strong>Address:</strong>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone"><strong>Phone:</strong></abbr>
    425.555.0100
</address>

<address>
    <strong>Customer support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>>