@model SecureWebsitePractices.Models.ProfileModel
@{
    ViewBag.Title = "Profile";
}
<h2>@ViewBag.Title</h2>

@if (!User.Identity.IsAuthenticated)
{

    <div class="jumbotron">
        <hgroup class="title">
            <h1>Welcome</h1>
            <h2>Please login to view your profile.</h2>
        </hgroup>
    </div>
}
else
{
    <h3>Your Account Details</h3>
    <hr />

    <div class="jumbotron">
        <hgroup class="title">
            <h2>Welcome @User.Identity.Name</h2>
            <br />
            <p class="lead">You can update your details by contacting our customer service.</p>
        </hgroup>
    </div>
    <hr />
    <p>
        <button class="btn btn-primary btn-lg" id="loadButton">View your details</button>
    </p>
    <hr />

    <p id="loader" style="display: none;">Loading profile...</p>

    <p id="profile" style="display: none;">
        <label>Username:&nbsp;&nbsp;</label><span id="userName"></span><br />
        <label>Birthdate:&nbsp;&nbsp;&nbsp;&nbsp;</label><span id="birthDate"></span><br />
        <label>NI Number:&nbsp;&nbsp;</label><span id="NINumber"></span><br />
        <label>Address:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><span id="address"></span><br />

    </p>
}

<p>Contact customer support if you want to update your personal details.</p>

@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script type="text/javascript">
            $(document).ready(function () {
                $("#loadButton").click(function () {
          $('#loader').fadeIn('slow');

          $.get('Profile/GetProfile?userName=@User.Identity.Name', function (data) {
            $('#userName').text(data.UserName);
            $('#birthDate').text(data.BirthDate);
            $('#NINumber').text(data.NINumber);
            $('#address').text(data.Address);

            $('#profile').delay(2000).fadeIn('slow');
            $('#loader').fadeOut('slow');
          });
        });
            });

        </script>
    }
