@model SecureWebsitePractices.Models.LoginModel
@{
    ViewBag.Title = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="jumbotron">
        <hgroup class="title">
            <h2>Welcome @User.Identity.Name</h2>
            <br />
            <p class="lead">You can search our stocks to order our products and you can request our catalog or products by contacting our customer service.</p>
        </hgroup>
    </div>
    <hr />

    <hr />
}
else if (ViewBag.Username == null)
{
    <div class="jumbotron">
        <hgroup class="title">
            <h1>Welcome</h1>
            <h2>Please login to view your profile.</h2>
        </hgroup>
    </div>
    <hr />
}
else if (ViewBag.Username != null)
{
    <div class="jumbotron">
        <hgroup class="title">
            <h2>Welcome @ViewBag.Username</h2>
            <br />
            <p class="lead">You can search our stocks to order our products.You can request our catalog or products and update your details by contacting our customer service.</p>
        </hgroup>
    </div>
    <hr />
}

<hr />
<div class="row">
    <div class="col-md-4">
        <h2>Product Search</h2>
        <p>
            You can search our product stocks using the product ID in our catalogs.If you haven't received our catalog please contact customer service and request it to be sent to you by post.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Product Search &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Stock Search</h2>
        <p>You can search our product  using the product name from our catalogs. If you haven't received our catalog please contact customer service.</p>
        <br />
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Stock Search &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <p>Please contact us if you have any queries.</p>
        <br /><br /><br />
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Contact &raquo;</a></p>
    </div>
</div>
